config.env

*.cookies.json

admins.json
settings.json
posts_count.json
ratings.json
schedule.json
add_contacts_*.txt
follower_backup_*.txt
global_followed_users.txt
keywords.json
settings.json

__pycache__/
*.pyc
*.pyo
*.pyd

venv/
*.venv/
env/
*.env/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace
