# Secrets & Config
config.env
*.env
*.env.gpg

# Data files
*.cookies.json
*.json
*.txt

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
*.venv/
env/
*.env/

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
