# Bot Configuration
BOT_TOKEN=YourBotToken
BOT_USERNAME=SetABotUsername
CHANNEL_ID=YourTelegramChannelID

BOT_TEST_TOKEN=Possible2ndBotTokenOptional
BOT_TEST_USERNAME=SetATestBotUsernameOptional

# Admin (mandatory for bot interaction)
ADMIN_USER_ID=YourAdminUserID

# X Account 1
ACCOUNT_1_EMAIL=web3@mail.net
ACCOUNT_1_PASSWORD=yourPassword1
ACCOUNT_1_USERNAME=account1username
ACCOUNT_1_COOKIES=x_0.cookies.json

# X Account 2
ACCOUNT_2_EMAIL=trench@mail.net
ACCOUNT_2_PASSWORD=yourPassword2
ACCOUNT_2_USERNAME=account2username
ACCOUNT_2_COOKIES=x_1.cookies.json

# Add more accounts as needed...