# Bot Configuration
BOT_TOKEN=YourBotToken
BOT_USERNAME=BotUsername

CHANNEL_ID=TelegramChannelID

# Admins
ADMIN_USER_ID=AdminId

# Account 1
ACCOUNT_1_EMAIL=web@mail.net
ACCOUNT_1_PASSWORD=pw
ACCOUNT_1_USERNAME=username(not @AccountName)
ACCOUNT_1_COOKIES=x_0.cookies.json

# Account 2
ACCOUNT_2_EMAIL=hood@mail.net
ACCOUNT_2_PASSWORD=pw
ACCOUNT_2_USERNAME=username(not @AccountName)
ACCOUNT_2_COOKIES=x_1.cookies.json

# Account 3
# Account 4
# Account 5...
